<!-- <div class="container"> -->
	<div class="row">
		<div class="col-md-6">
<div class="mapouter" style="margin-left: 3%;
margin-top: 6%;"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Mumbai&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
		</div>
		<div class="col-md-6" >
			<div class="row ml-auto">
				<div class="card" style="width: 55%;margin-top: 6%;">
 				 <div class="card-header bg-info text-white" >
    				<h3>Contact Us</h3>
  				</div>
  					<div class="card-body bg-dark text-white">
    					<h3 class="card-title"><i class="fas fa-phone"></i>-022-28147567</h3>
    					<h3 class="card-title"><i class="fas fa-mobile"></i>-9999888222</h3>
    				</div>
				</div>
			</div>
			<div class="row ml-auto">
				<div class="card" style="width: 55%;margin-top: 6%;">
 				 <div class="card-header bg-info text-white" >
    				<h3>Email Us</h3>
  				</div>
  					<div class="card-body bg-dark text-white" >
    					<h3 class="card-title"><i class="fas fa-envelope"></i>-dummy@gmail.com</h3>
    					<div class="logos" style="font-size: 270%;"> 
    						<span><i class="fab fa-facebook-square"></i></span>
    						&nbsp;
    						<span><i class="fab fa-twitter-square"></i></span>
    					</div>
    					
    				</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->