
<div class="jumbotron bg-dark">
        <div class="container">
          <h1 class="display-3 text-white">About Us</h1>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo veniam, repellendus, soluta laborum suscipit voluptas maiores cum incidunt natus aliquid dicta amet doloribus consectetur quas iusto magnam dolorem mollitia earum!</p>
          
        </div>
      </div>

     
        <!-- Example row of columns -->
        <div class="container mb-3">
        <div class="row ">
          <div class="col-md-5 bg-dark text-white mr-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quaerat atque odit, voluptatem maxime impedit animi numquam ratione sed ipsa nobis sapiente quos libero magnam similique harum eum! Praesentium, accusantium?
          </div>
          <div class="col-md-6 bg-dark text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur neque recusandae error, ipsam animi iusto eum magnam nihil consequuntur veniam laboriosam itaque nam dolorem voluptatem excepturi quia! Nostrum, animi minima.</div>
        </div>
        </div>
        <div class="container">
        <div class="row ">
          <div class="col-md-6 bg-dark text-white mr-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quaerat atque odit, voluptatem maxime impedit animi numquam ratione sed ipsa nobis sapiente quos libero magnam similique harum eum! Praesentium, accusantium?
          </div>
          <div class="col-md-5 bg-dark text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur neque recusandae error, ipsam animi iusto eum magnam nihil consequuntur veniam laboriosam itaque nam dolorem voluptatem excepturi quia! Nostrum, animi minima.</div>
        </div>
        </div>
        

     
