<br>
<div class="list-group" *ngFor="let dog of Dogs">
  <div class="list-group-item list-group-item-action flex-column bg-dark" style="width: 91%; border: 10px solid #117a8b; margin-bottom: 5px;">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1" style="border-bottom: 2px solid #117a8b;
    color: white;
}">{{dog.name}}</h5>
      <small></small>
    </div>
    <img src="{{dog.src}}" class="rounded float-left" style="max-width: 24%;" alt="{{dog.name}}">
    <span>
    <p class="mb-1" style="margin-left: 25%;
    color: wheat;
    border-radius: 5px 5px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem velit obcaecati consequuntur voluptas voluptates repudiandae labore consequatur non sequi, earum ea in qui eveniet, optio quia atque voluptatibus veniam amet.Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    
    </span>
  </div>
</div>
